@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background-color: #2d2f38;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-size: 1.1rem;
}
#game__content {
  height: 400px;
  background-color: #ddddd9;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 2.3rem;
  color: #363535;
  font-weight: 600;
  letter-spacing: 3px;
}
#game__container {
  max-width: 900px;
  background-color: #3f3c3d;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
#selection__btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.btn {
  color: #fcfdf6;
  background-color: #49494b;
  width: 200px;
  padding-block: 10px;
  border: 2px solid #3d3f3f;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}
